{% extends 'admin/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card border-danger mb-3">
                <div class="card-header bg-danger text-white">
                    <h5 class="mb-0">Error</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Something went wrong</h5>
                    <p class="card-text">{{ error }}</p>
                    <p>Please try again later or contact the system administrator.</p>
                    <a href="{{ url_for('admin.login') }}" class="btn btn-primary">Return to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}